<div class="markdownx row">
    <div class="col-md-6">
        {{ markdown_preview }}
        <!-- Django 1.11+ -->
        {% include 'django/forms/widgets/textarea.html' %}
    </div>
    <div class="col-md-6">
        <div class="markdownx-preview"></div>
    </div>
</div>
