{% extends 'base.html' %}

{% block content %}
    <h1>List of Boards</h1>
    <hr>
    {% for board in board_list %}
        <div class="row">
            <div class="col-md-3">
                <h2><a href="{% url 'bulletin:thread-list' board.id %}">{{ board.name }}</a></h2>
                <p><small><strong>Threads: </strong>{{ board.get_thread_count }}</small></p>
                <p><small><strong>Posts: </strong>{{ board.get_post_count }}</small></p>
            </div>
            <div class="col-md-9">
                <p>{{ board.description }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
