{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load bootstrap_pagination %}

{% block content %}
    <div class="container">
        <h1><a href="{% url 'bulletin:thread-list' thread.board.id %}">Thread: {{ thread.title }}</a></h1>
        {% if request.user.is_staff or request.user.is_superuser %}
            {% if not request.user.banned %}
                <div class="row">
                    <div class="col-md-2">
                        {% if thread.sticky %}
                            <form method="post" action="{% url 'bulletin:thread-unsticky' thread.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Unsticky</button>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'bulletin:thread-sticky' thread.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Sticky</button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="col-md-2">
                        {% if thread.locked %}
                            <form method="post" action="{% url 'bulletin:thread-unlock' thread.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Unlock</button>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'bulletin:thread-lock' thread.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Lock</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <hr>
    </div>
    <div class="container">
        {% if post_list.count > 0 %}
            {% for post in post_list %}
                <div class="row">
                    <div class="col-md-4">
                        <p>By: <a href="{% url 'users:detail' post.user.username %}">{{ post.user }}</a></p>
                        <p>{{ post.created_at }}</p>
                        <p>
                            <a class="btn btn-primary" data-toggle="collapse" href="#user-detail-{{ post.id }}">
                                Additional Details
                            </a>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p>{{ post.message | markdown }}</p>
                    </div>
                </div>
                <div class="collapse" id="user-detail-{{ post.id }}">
                    <div class="card card-body">
                        <p>Post Count: {{ post.get_user_post_count }}</p>
                        <p>About Myself: {{ post.user.about_myself }}</p>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <div class="text-center">
                {% bootstrap_paginate page_obj range=10 %}
            </div>
        {% else %}
            <p><small>No posts to display.</small></p>
        {% endif %}
    </div>


    {% if not thread.locked and not request.user.banned %}
        <div class="container">
            <hr>
            <h2>Create New Post</h2>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
