{% extends 'base.html' %}
{% load bootstrap_pagination %}

{% block content %}
    <div class="container">
        <h1>Board: {{ board.name }}</h1>
        <p><small>{{ board.description }}</small></p>
        <hr>
    </div>

    <div class="container">
        <h3 style="margin-top: 2rem;">Stickied</h3>
        {% if sticky_threads.count > 0 %}
        <ul class="list-group">
            {% for thread in sticky_threads %}
            <li class="list-group-item" style="padding: 2rem;">
                <div class="container-fluid">
                    <h3><a href="{% url 'bulletin:post-list' thread.id %}">{{ thread.title }}</a></h3>
                    <p>
                        {% if thread.get_post_count > 0 %}
                            <small>
                                Last Reply by {{ thread.get_last_reply.user }} on {{ thread.get_last_reply.created_at }}
                            </small>
                        {% endif %}
                    </p>
                    {% if thread.locked %}
                        <p><small>Locked</small></p>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p><small>No threads to display.</small></p>
        {% endif %}


        <h3 style="margin-top: 2rem;">Other Threads</h3>
        {% if thread_list.count > 0 %}
        <ul class="list-group">
            {% for thread in thread_list %}
            <li class="list-group-item" style="padding: 2rem;">
                <div class="container-fluid">
                    <h3><a href="{% url 'bulletin:post-list' thread.id %}">{{ thread.title }}</a></h3>
                    <p>
                        {% if thread.get_post_count > 0 %}
                            <small>
                                Last Reply by {{ thread.get_last_reply.user }} on {{ thread.get_last_reply.created_at }}
                            </small>
                        {% endif %}
                    </p>
                    {% if thread.locked %}
                        <p><small>Locked</small></p>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="text-center">
            {% bootstrap_paginate page_obj range=10 %}
        </div>
        {% else %}
        <p><small>No threads to display.</small></p>
        {% endif %}
    </div>
    <hr>
    {% if not request.user.banned %}
        <div>
            <h2>Create A Thread</h2>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
