{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h2>{{ object.username }}</h2>
                {% if object.name %}
                    <p>{{ object.name }}</p>
                {% endif %}
                {% if object.banned %}
                    <p><small>Status: Banned</small></p>
                {% else %}
                    <p><small>Status: Active</small></p>
                {% endif %}

                {% if request.user != object %}
                    {% if request.user.is_staff or request.user.is_superuser %}
                        {% if object.banned %}
                            <form method="post" action="{% url 'users:unban' object.username %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Unban</button>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'users:ban' object.username %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Ban</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>About Myself: {{ object.about_myself }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>Date of Birth: {{ object.date_of_birth }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>Hometown: {{ object.hometown }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>Present Location: {{ object.present_location }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>Skype: {{ object.skype }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>Website: {{ object.website }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>Gender: {{ object.get_gender_display }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>Interests: {{ object.interests }}</p>
                    </li>
                </ul>
            </div>

        </div>

        {% if object == request.user %}
            <!-- Action buttons -->
            <hr>
            <div class="row">

                <div class="col-sm-12">
                    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
                    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
                    <!-- Your Stuff: Custom user template urls -->
                </div>

            </div>
            <!-- End Action buttons -->
        {% endif %}


    </div>
{% endblock content %}

